vendor/

var/auto_import/
var/cache/
var/import_failed/
var/importing/
var/tmp/
nbproject/
/composer.lock
/htdocs/gems
/htdocs/gems-responsive
/htdocs/project.css
/test/reports/
/var/logs/errors.log