<form action="" method="post">
    <input type="text" name="username" placeholder="Username"/>
    <input type="text" name="organization" placeholder="Organization"/>
    <input type="password" name="password"  placeholder="Password"/>
    <input type="submit" value="Login" />
</form>