/* Load core css */
@import url('gems-core.css');

/* Fluid width css */

/* General styles */
#all {
    margin:0;
    padding:0;
    border:0;			/* This removes the border around the viewport in old versions of IE */
    width:100%;
    min-width:600px;    /* Minimum width of layout - remove line if not required */
					    /* The min-width property does not work in old versions of Internet Explorer */
}

#header, #footer, #header_bar, .zend_echo {
    clear: both;
    float: left;
    width: 100%;
}

#main {
    width: 81%;
}

#main, #menu {
    margin: 0.5em 0.5%; /* margin margin margin margin + menu_abs_width */
}

#menu {
    margin-top: 1em;
    width: 16%;
}

table.browser, table.timeTable {
    width: 99%; /* to show shadows, 1% off */
}

/* Adapted common css: should move to one file */

/* Header/footer styles */
#footer {
    margin-bottom: 10px;
}

#footer div, #header_bar div, #header_bar span {
    padding: 1px 3px 2px 3px;
}

.fullwidth > div {
    margin: 0px 5px; /* provide a little 'air' on full-width */
}

#header_bar #contact .dropdownContent {
    display: none;
}

#header_bar #contact:hover .dropdownContent {
    display: block;
    float: right;
    left: -120%;
    line-height: 110%;
    list-style-type: none;
    position: absolute;
    text-align: right;
    width: 200%;
}

#header_bar #contact .dropdownContent a {
    display: inline-block;
    width: 100%;
}

#header h1 {
    margin-top: 0;
}

#header_bar #organizations {
    float:left;
    height: 1.7em;
    padding-top: 2px;
    overflow: hidden;
}

#header_bar #organizations input, #header_bar #organizations select { margin: 1px; padding: 0px; font-size: 100%;}

#login .logout {
    margin-left: 0.5em;
}

#main {
    float: right;
    /* *padding + *overflow to use only in IE 6 */
    *overflow-x: auto;
    *padding-bottom: 25px;
}

#menu {
    float: left;
    padding: 0 0 10px 10px;
    word-wrap: break-word; /* IE only feature */
}

span.thetooltip {
    display: none;
}

table, td, th {
    overflow: visible;
}

#wrapper {
    position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
    clear:both;
    float:left;
    width:100%;			/* width of whole page */
}

/* fixes for tabrow with browsetable */
.tabrow { clear: both; padding-top: 0.5em; }
.tabrow .tab { width: auto;}
