/* Style for printing, disables certain UI elements */
@media print {
    /* Setting font-size */
    body, table { font-size: 9pt; }

    body {
        font-family: Arial,Verdana,Helvetica,Sans-serif;
    }

    #header_bar, #menu, .noprint, a.actionlink,
    span.tooltip, span.thetooltip,
    .button, button,
    .ui-tabs-nav-item { display: none; }

    p.description { display: inline; }

    /* Some generic table printing stuff 
     * 
     * Chrome 19 seems to have issues printing tables when the total output is more than
     * three pages, but maybe one day they will fix that. In the mean time the settings
     * below will help printing of tables in FireFox, Opera and possibly others.
     */
    table { page-break-inside:auto; }
    tr    { page-break-inside:avoid; page-break-after:auto; }
    td    { page-break-inside:avoid; page-break-after:auto; }
    thead { display:table-header-group; }
    tfoot { display:table-footer-group; }
    tbody { display: table-row-group; }

    table {
        border-collapse: collapse;
    }

    tr, th, td {
        border: 1px solid #000;
        text-align: left;
    }

    table td.selectedColumn, table th.selectedColumn {
        border-left: 2px solid;
        border-right: 2px solid;
    }

    table thead th.selectedColumn {
        border-top: 2px solid;
    }

    table tfoot td.selectedColumn {
        border-bottom: 2px solid;
    }

    table.browser {
        width: 100%;
    }

    .tab-displaygroup {
        float: left;
        margin-right: 3em;
    }

    .print-only { display: inline; }

    .surveyTitle {
        font-weight: bold;
        page-break-before: always; /* left would be even nicer, but mostly unsupported in browsers */
    }
}