/* Fluid width css */

/* Load common css */
@import url('gems-new.css');

/* General styles */
#all {
    margin:0;
    padding:0;
    border:0;			/* This removes the border around the viewport in old versions of IE */
    width:100%;
    min-width:600px;    /* Minimum width of layout - remove line if not required */
					    /* The min-width property does not work in old versions of Internet Explorer */
}

#header, #footer, #header_bar, .zend_echo {
    clear:both;
    float:left;
    width:100%;
}

table.browser, table.timeTable {
    width: 99%; /* to show shadows, 1% off */
}