/* Fluid width css */

/* General styles */
#all {
    margin:0;
    padding:0;
    border:0;			/* This removes the border around the viewport in old versions of IE */
    width:100%;
    min-width:600px;    /* Minimum width of layout - remove line if not required */
					    /* The min-width property does not work in old versions of Internet Explorer */
}

#header, #footer, #header_bar, .zend_echo {
    clear: both;
    float: left;
    width: 100%;
}

#main {
    width: 81%;
}

#main, #menu {
    margin: 0.5em 0.5%; /* margin margin margin margin + menu_abs_width */
}

#menu {
    margin-top: 1em;
    width: 16%;
}

table.browser, table.timeTable {
    width: 99%; /* to show shadows, 1% off */
}

/* Adapted common css: should move to one file */



/* Links */
a {
    text-decoration: none;
}

.actionlink {
    white-space: nowrap;
}

a.actionlink {
    font-style: normal;
    text-decoration: none;
}

a.actionlink + a.actionlink,
a.actionlink + span.actionlink,
span.actionlink + a.actionlink,
span.actionlink + span.actionlink {
    margin-left: 1em;
}

span.actionlink {
    font-style: italic;
}

a:hover {
    text-decoration: underline;
}

a[href^="mailto:"] {
    background: transparent url(../images/mail.png) no-repeat scroll right center;
    padding-right: 20px;
}

a:hover[href^="mailto:"] {
    text-decoration: underline !important;
}

a.globe {
    background: transparent url(../images/globe.png) no-repeat scroll right center;
    padding-right: 20px;
}

a.pdf {
    background: transparent url(../images/pdf_small.gif) no-repeat scroll right center;
    padding-right: 20px !important;
}

body {
    margin: 0;
    padding: 0;
}

button.ui-datepicker-trigger {
    margin: 0 0.25em 0 0.25em;
    padding: 0;
    vertical-align: middle;
}

.centerAlign {
    text-align: center;
}

.currentRow {
    background-color: aqua;
    border: 3px solid darkblue !important;
}

.deleted {
    color: #888888;
    font-style: italic;
    text-decoration: line-through; /* Bug in Firefox: line-through remains on for descending inline elements */
}

.icon {
    float: right;
    padding-right: 4px;
}

input[disabled], .disabled {
    color: #737373;
    font-style: italic;
}

input[disabled] {
    color: #000000;
    background: #EBEBE4;
}

input[readonly] {
    background: #EBEBE4;
}

div, img, li, p, ul {
    margin: 0;
    padding: 0;
}

div.buttons {
    margin: 0.5em 0;
}

.zend_echo, .errors {
    background: #FAF8CC;
    margin: 2px;
    padding: 0.25em 0.5em;
    border: 1px solid;
}

.tableSpecial,
.zend_echo,
.errors,
.ui-tabs-nav-item.taberror span {
    color: #DD0000;
    font-weight: bold;
}

.errors {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    display: inline-block;
}

dd .errors {
    display: block;
}

ul.errors {
    padding-left: 1.5em;
    padding-right: 0.5em;
}

/* Header/footer styles */
#footer {
    margin-bottom: 10px;
}

#footer div, #header_bar div, #header_bar span {
    padding: 1px 3px 2px 3px;
}

.fullwidth > div {
    margin: 0px 5px; /* provide a little 'air' on full-width */
}

h1, h2, h3 {
    margin: 0.5em 0 0.25em 0;
    padding: 0;
}

h4 {
    margin: 0.125em 0;
    padding: 0;
}

#header_bar {
    padding: 0px;
}

#header_bar #contact .dropdownContent {
    display: none;
}

#header_bar #contact:hover .dropdownContent {
    display: block;
    float: right;
    left: -120%;
    line-height: 110%;
    list-style-type: none;
    position: absolute;
    text-align: right;
    width: 200%;
}

#header_bar #contact .dropdownContent a {
    display: inline-block;
    width: 100%;
}

#header h1 {
    margin-top: 0;
}

#header_bar #organizations {
    float:left;
    height: 1.7em;
    padding-top: 2px;
    overflow: hidden;
}

#header_bar #organizations input, #header_bar #organizations select { margin: 1px; padding: 0px; font-size: 100%;}

#login .logout {
    margin-left: 0.5em;
}

img {
    border: 0 solid transparent;
}

.indent {
    margin-left: 4em;
    margin-right: 4em;
}

.indentLeft {
    padding-left: 3em;
}

input.token_copy {
    background-color: #EEEEEE;
}

label.required {
    font-weight: bold;
}

.leftFloat {
    float: left;
    margin-right: 0.4em;
}

.logFile {
    border: 2px solid #888888;
    /* border-right: 0px transparent; */
    padding: 1px 0 1px 3px;
    height: 500px;
    overflow: auto;
    width: 99%;
}

.mailpreview {
    background-color: #FEFEFE;
    border: 3px groove #888888;
    margin: 2px 1px;
    padding: 2px 0.5em;
}

#main {
    float: right;
    /* *padding + *overflow to use only in IE 6 */
    *overflow-x: auto;
    *padding-bottom: 25px;
}

#main_full_width {
    background: transparent;
    margin-bottom: 10px;
    padding: 10px 5px 0 5px;
}

#main form dd {
    display: inline-block;
    *display: inline;
    margin: 0 10px;
}

#main form dt {
    margin: 0;
}

#main form dt label {
    clear: left;
    float: left;
    margin: 0 0.25em 0 0;
}

#main ul {
    margin-bottom: 0.75em;
    margin-top: 0.75em;
}

#main #tabContainer ul {
    margin-bottom: 0em;
    margin-top: 0em;
}

#main .tooldock .toolbox ul {
    margin-bottom: 0;
    margin-top: 0;
}

#menu {
    float: left;
    padding: 0 0 10px 10px;
    word-wrap: break-word; /* IE only feature */
}

#menu .navigation {
    margin-left: 10px;
}

#menu .navigation .active {
    font-weight: bold;
}

#menu ul {
    margin-bottom: 0;
}

#menu ul li ul {
    margin: 0 0 0.25em 1em;
}

#menu ul li a {
    display: block;
    *height: 1%; /* IE 6 Fix */
    margin: 0;
    padding: 0;
    *width: 115px; /* IE 6 Fix */
}

#menu ul li a.breakBefore {
    border-top: 1px dotted;
    margin: 3px 4px 0 0;
    padding: 2px 0 0 0;
}

#menu ul li a.noParameters {
    font-style: italic;
}

#menu .navigation .active ul li {
    font-weight: normal;
}

#menu .navigation .active ul li.active {
    font-weight: bold;
}

.middleAlign {
    vertical-align: middle;
}

p.description {
    display: inline;
    font-size: 0.75em;
    padding: 2px 6px;
}

p.info {
    margin: 0.75em 0;
}

.periodSlider {
    margin: 0.5em;
}

.print-only { display: none; }

.rightAlign {
    text-align: right;
}

.rightFloat {
    float: right;
    margin-left: 0.4em;
}

.search {
    line-height: 250%;
    margin: 0.5em 0;
}

.search input {
    margin: 0 0.2em;
}

.search .inputgroup {
    border: 2px solid;
    border-bottom-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    clear: both;
    float: left;
    line-height: 125%;
    margin: 0 auto 0.25em 0;
    padding: 0.25em 0.5em 0.25em;
}

.search select {
    width: 16em;
}

.search select.minimal {
    width: auto;
}

select {
    max-width: 48em;
}

select option[value=''], select[value=''] {
    color: #737373;
    font-style: italic;
}

.separator {
    color: grey;
    font-weight: normal;
}

.smallTime {
    font-size: 80%;
    font-style: italic;
}

.sortAsc, .sortAscSelected, .sortDescSelected {
    line-height: 1.3em;
    padding-bottom: 7px;
}

.sortAsc:hover, .sortAscSelected, .sortDescSelected:hover {
    background: transparent url(../images/sort_asc.png) no-repeat scroll center bottom;
}

a.sortAscSelected:hover, a.sortDescSelected {
    background: transparent url(../images/sort_desc.png) no-repeat scroll center bottom;
}

span.thetooltip {
    display: none;
}

.sponsoring {
    font-size: 80%;
    margin: 5em auto 0 auto;
    padding: 2px;
    text-align: center;
}

.surveyTitle {
    font-weight: bold;
}

table, td, th {
    empty-cells: show;
    margin: 0;
    overflow: visible;
    padding: 0;
}

table.displayer, table.browser, table.timeTable {
    border-collapse: collapse;
    border-spacing: 0;
    clear: both;
    margin: 0 0 0.5em 0;
}

table.formTable td.label {
    padding-top: 4px;
    vertical-align: top;
}

table.formTable td[colspan="2"].label {
    text-align: left;
}

table tr[onclick]:hover,
table td[onclick]:hover,
table th[onclick]:hover {
    cursor: pointer;
}

table .question {
    text-indent: -1em;
    padding-left: 1em;
}

table .question_sub {
    padding-left: 1em;
}

table td, table th {
    padding: 2px 4px;
    vertical-align: top;
}

table td.selectedColumn, table th.selectedColumn {
    border-left: 2px solid;
    border-right: 2px solid;
}

table tfoot td.selectedColumn, table tfoot th.selectedColumn {
    border-bottom: 2px solid;
}

table td.date, table td.token {
    white-space: pre;
    /* width: 7em; */
}

table td.timeResult, table th.timeResult {
    width: 5em;
}

table th {
    text-align: left;
}

table tr.selectedRow td.selectedColumn {
    border-bottom: 2px solid;
    font-weight: bold;
}

table tr.selectedRow td.selectedColumn, table thead th.selectedColumn {
    border-top: 2px solid;
}

table.timeTable th a, table.timeTable td a {
    color: inherit;
}

.tab-displaygroup {
    float: left;
    margin-right: 5px;
    /* optionally set a fixed with here for aligning */
}

.tab-displaygroup label {
    display: inline-block; /* otherwise with won't be applied */
    width: 5em;
}

.tab-displaygroup input,
.tab-displaygroup select
{
    /* Set a default with so things will align */
    max-width: 6em;
}

.tabrow {
    margin: 0.5em 0 0 0;
    *margin-top: 0;
    padding: 0;
    *padding-top: 0.5em;
}

.tabrow .tab {
    border: 1px solid #000;
    border-bottom-width: 0px;
    float: left;
    margin: 1px 0.5em 0 0;
    padding: 0.2em;
    text-align: center;
    width: 8em;
}

.tabrow .tab.active {
    border: 2px solid #000;
    border-bottom-width: 0px;
    font-weight: bold;
    margin-top: 0;
}

.tabrow .tab a {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.toolbox {
    display: inline;
    margin: 0.5em 0 0 0.5em;
    position: relative;
}

.toolbox .toolanchor {
    display: inline-block;
}

.toolbox a.toolanchor {
    font-weight: bold;
}

.toolbox ul {
    display: none;
    list-style-type: none;
    position: absolute;
    z-index: 100;
}

.toolbox:hover ul {
    display: inline;
    max-height: 18.5em;
    left: 0;
    overflow: auto;
    position: absolute;
    top: 1.2em;
}

.toolbox ul li {
    list-style-type: none;
    margin: 1px 3px;
}

.toolbox ul li a.add {
    display: inline-block;
    margin: 1px 0;
    overflow: hidden;
    padding: 1px 2px;
}

.toolbox ul li a.right {
    width: 16px;
}


.toolbox ul li a:hover {
    text-decoration: none;
}


.tooldock {
    padding: 5px;
}

.tooltip {
    background: #FFFFCC;
    border: 1px solid #e8f5fd;
    padding: 3px 5px;
    color: black;
    font-size: .8em;
    z-index: 10;        /* otherwise invisible */
}

td.tracksList {
    width: 25%;
}

td .tracksList {
    height: 10em;
    overflow: auto;
}

.tracksList p {
    margin-bottom: 0.25em;
}

#wrapper {
    position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
    clear:both;
    float:left;
    width:100%;			/* width of whole page */
}

.zend_echo {
    font-weight: normal;
}

#autofilter_target { clear: both;}
.tabrow { clear: both; }
.tabrow .tab { width: auto;}