/* Style for printing, disables certain UI elements */
@media print {
    /* Setting font-size */
    body, table { font-size: 9pt; }
    
    body {
        font-family: Arial,Verdana,Helvetica,Sans-serif;
    }

    #header_bar, #menu, .noprint, a.actionlink,
    span.tooltip, span.thetooltip,
    .button, button,
    .ui-tabs-nav-item { display: none; }

    p.description { display: inline; }

    table {
        border-collapse: collapse;
    }

    table, tr, th, td {
        border: 1px solid #000;
    }

    table td.selectedColumn, table th.selectedColumn {
        border-left: 2px solid;
        border-right: 2px solid;
    }

    table thead th.selectedColumn {
        border-top: 2px solid;
    }

    table tfoot td.selectedColumn {
        border-bottom: 2px solid;
    }

    table.browser {
        width: 100%;
    }

    .print-only { display: inline; }
}