
/* Load core css */
@import url('gems-core.css');

/* Links test */
#all, #all_full_width {
    margin: 0 auto;
    max-width: 1012px;
}

 /* #FFFF00 */
#footer {
    clear: both;
    margin-top: 10px;
    height: 1.2em;
}

#header h1 {
    margin-top: 0;
}

/* *padding + *ovverflow to use only in IE */
#main {
    background: transparent;
    clear: both;
    float: right;
    margin-bottom: 10px;
    width: 842px;
    *overflow-x: auto;
    *padding-bottom: 25px;
}

#menu {
    background: transparent;
    float: left;
    max-width: 160px;
    padding: 10px 0 10px 10px;
    word-wrap: break-word; /* IE only feature */
}

#header_bar {
    height: 1.9em;
}

#header_bar #contact {
    position: relative;
    padding: 5px 5px 0 5px;
}

#header_bar #contact .dropdownContent {
    display: none;
}

#header_bar #contact:hover .dropdownContent {
    display: block;
    float: right;
    left: -120%;
    line-height: 110%;
    list-style-type: none;
    position: absolute;
    text-align: right;
    width: 200%;
}

#header_bar #contact .dropdownContent a {
    display: inline-block;
    width: 100%;
}

#header_bar #languages {
    padding: 5px;
    float:left;
}

#header_bar #organizations {
    float:left;
    height: 1.7em;
    padding-top: 2px;
    overflow: hidden;
}

#header_bar #organizations input, #header_bar #organizations select { margin: 1px; padding: 0px; font-size: 100%;}

table.browser {
    width: 100%;
}
