// USES
// @brand-warning;
// @brand-primary;
// @font-size-small;
// @state-info-text;
// @brand-info;
// @brand-success;
// @brand-warning;
// @brand-danger; 
// @font-size-h3;
// @headings-color;

//_mixins
.add-colors-in-zp() {
    color: whitesmoke;
    &.primary {
        border-left: 1em solid @brand-info;
        background-color: @brand-info;
    }
    &.success {
        border-left: 1em solid @brand-success;
        background-color: @brand-success;
    }
    &.warning {
        border-left: 1em solid @brand-warning;
        background-color: @brand-warning;
    }
    &.danger {
        border-left: 1em solid @brand-danger;
        background-color: @brand-danger;
    }
    &.info {
        border-left: 1em solid @brand-info;
        background-color: @brand-info;
    }
}
.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}
.cursor-hand {
    cursor: pointer;
}
.drop-shadow (@x: 0, @y: 2px, @blur: 1px, @spread: 0, @alpha: 0.5) {
    -webkit-box-shadow: @x @y @blur @spread rgba(12, 32, 116, @alpha);
    -moz-box-shadow:  @x @y @blur @spread rgba(12, 32, 116, @alpha);
    box-shadow:   @x @y @blur @spread rgba(12, 32, 116, @alpha);
}
// end mixins


div.loading {
    /*background: url('../local/ajax-loader.gif'); */
    background-position: center;    
    width: 10em;
    height: 10em;
    background-repeat: no-repeat;
}

.traject {
    &.panel {
        border: 0px;
        border-top: 1px solid @brand-primary;
        margin-bottom:40px;
        border-radius: 0;
        .box-shadow(0 0px 0px rgba(0,0,0,.0));
        .panel-title {
            text-transform: uppercase;
            font-size: @font-size-h3;
            color: @headings-color;
        }
    }
    
    .panel-heading {
        .cursor-hand();

        .panel-title {
            margin-left: 1.5em;
        }

        .editIcon {
            font-size: 2em;
            margin-top: -1.2em;
            
            a {
                color: @headings-color;
            }
        }
    }
    .panel-body {
        padding: 20px 0px;
        overflow: hidden;
        overflow-x: scroll;
    }
    
    .objecten {
        margin: 0 10px;
        padding: 0 10px;
        min-width:200%;
        width: 15000px;
    }
    
    .object {
        h4, h5 {
            margin-top: 5px;
            margin-bottom: 7px;
        }
        h4 {
            .cursor-hand();
            height:42px;
            span {
                padding-right:5px;
            }
        }

        &.today {
            background-color: lightgoldenrodyellow;
            border: 2px solid @brand-warning;
        }

        width: 250px;
        background-color: #fff;
        padding: 10px 10px 0 10px;
        margin-right: 20px;
        .border-radius();
        float:left;
        div.actor {
            &:nth-of-type(1) {
                //padding: 10px 0 0 0;
            }
            border-top: 1px solid @brand-primary;
            padding: 10px 0 0 0;
            h5 {
                .cursor-hand();
                padding-bottom: 7px; //10px;
                span {
                    padding-right:5px;
                }
            }
            .zplegenda {
                margin: 0 0 40px 0;
                background-color: #fff;
                font-size: @font-size-small;
                color: @state-info-text;
                text-align: center;
                width:100%;
                // .drop-shadow();
                .cursor-hand();
                div {
                    padding: 2px;
                    .border-radius(5px);
                    margin-bottom: 11px;
                    margin-right: 0%;
                    width: 100%;
                    float:left;
                    .drop-shadow();
                    .add-colors-in-zp();	// _mixins.less where the colors are defined
                }

                /* one item */
                div:first-child:nth-last-child(1) {
                    margin-right: 0%;
                    width: 100%;
                }

                /* two items */
                div:first-child:nth-last-child(2),
                    div:first-child:nth-last-child(2) ~ div {
                    width: 48%;
                    margin-right: 2%;
                }

                /* three items */
                div:first-child:nth-last-child(3),
                    div:first-child:nth-last-child(3) ~ div {
                    width: 31.3333%;
                    margin-right: 2%;
                }

                /* four items */
                div:first-child:nth-last-child(4),
                    div:first-child:nth-last-child(4) ~ div {
                    width: 23%;
                    margin-right: 2%;
                }

                /* five items */
                div:first-child:nth-last-child(5),
                    div:first-child:nth-last-child(5) ~ div {
                    width: 18%;
                    margin-right: 2%;
                }

                p {
                    margin: 0 0 0 0 !important;
                }
                clear:both;

            }
            .zpitems {
                padding: 0;
                margin: 0;
            }
            .zpitem {
                a { color: @brand-primary; }
                p {
                    margin: 0 0 0 0 !important;

                }
                padding: 5px; // 10px;
                margin: 0 0 10px 0;
                color: @state-info-text;
                .border-radius();
                .drop-shadow();
                .cursor-hand();
                .add-colors-in-zp();	// _mixins.less where the colors are defined
                background-color: whitesmoke !important;
            }
        }
    }
}