{% extends '@layout/basic.html.twig' %}

{% block title %}404 Not Found{% endblock %}

{% block content %}
    <h1>Oops!</h1>
    <h2>This is awkward.</h2>
    <p>We encountered a 404 Not Found error.</p>
{% endblock %}
