Options +FollowSymlinks

php_flag magic_quotes_gpc off
#Need at least 128M, but more is always better
#php_value memory_limit 128M

#SetEnv APPLICATION_ENV development

RewriteEngine On

#Rewrite to https can be enabled using the next 2 lines
#RewriteCond %{HTTPS} =off
#RewriteRule (.*)$ https://%{SERVER_NAME}/[new_project]/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule !\.(js|ico|gif|jpg|png|css)$ index.php [NC,L]